<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= pokemon.image %>
  </p>

  <p>
    <strong>Types:</strong>
    <%= pokemon.types %>
  </p>

</div>
